


.blocos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  

   

}

.bloco{

  
  background-color: #ffffff;

  font-size: 80%;
  color: #bfbbc5;
  width: 30%;
  height: 30%;

  

   transition: all .5s ease;

  h2{
      padding: 3% 0% 3%;
     text-align: center;
     font-size: 1.6vw;

  }
  h3{
      margin-left: 10%;
      text-align: left;

  }

  p{
      margin-bottom: 10%;
      text-align: center;
font-size: 120%;

  }
 
}

.blocao {
  display: flex;
  flex-direction: row;
}

.divmeio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imagem{
  width: 40%;
  height: 40%;
padding: 5%;
}


.bloco:hover{

opacity: 0.7;
}








